<div class="container">
<div class="row">
<div class="col-md-8">
<h3>Descrizione</h3>
{{{summary}}}
</div>
<div class="col-md-4 bg-light-blue">
<div class="p-3">
<h4>Il corso in breve</h3>
{{#meta}}
{{/meta}}
{{#key}}
<b>{{.}}</b>
{{/key}}
{{#value}}
{{value}}
{{/value}}
{{completion}}
</div>
</div>