<div class="bucmycourses">
    <h3>{{title}}{{#count}} ({{count}}){{/count}}</h3>
    <div class="my-6">
        <div class="{{#horizontal}} horizontal{{/horizontal}}">
            {{{courses}}}   
        </div>
    </div>
</div>