<div class="card {{#lightmode}} wb_news-light{{/lightmode}}{{#cssclasses}} {{cssclasses}}{{/cssclasses}} mb-4"{{#bgcolor}} style="background-color: {{bgcolor}}; border: none"{{/bgcolor}}>
    {{#detailviewurl}}<a href="{{detailviewurl}}" class="stretched-link" {{#btnlinktarget}}target="{{.}}"{{/btnlinktarget}} {{#btnlinkrel}}rel="{{.}}"{{/btnlinkrel}}></a> {{/detailviewurl}}
    <div class="row">
        <div class="col-md-4">
            {{#headerimage}}
            <img class="h-100 img-fluid" style="object-fit:cover;" src="{{headerimage}}" aria-label="{{headerimagetext}}" alt="{{headerimagetext}}">
            {{/headerimage}}
            {{#bgimage}}
            <img class="h-100 img-fluid" style="object-fit:cover;"  src="{{bgimage}}" aria-label="{{bgimagetext}}" alt="{{bgimagetext}}">
            {{/bgimage}}
        </div>
        <div class="col-md-8">
            <div class="card-body h-100">
                <div class="d-flex justify-content-between">
                    <h6 class="card-subtitle {{^lightmode}} text-muted{{/lightmode}}">{{{subheadline}}}</h6>
                    <small class="text-muted float-right">{{{publishedon}}}
                    </small>
                </div>
                <h3 class="card-title mt-2">{{{headline}}}</h3>
                <p class="card-text">{{shortdescription}}</p>
            </div>
        </div>
    </div>
</div>
